html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #f0f4f4;
	color: #5b5b5b;
	font-size: 15pt;
	line-height: 1.85em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
.flex-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
  }
  
  .flex-items:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  
  .flex-items:nth-child(2) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  
  .flex-items:nth-child(3) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  
  .flex-items:nth-child(4) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }